/*
╔════════════════════════════════════════════════╗
- Authors :
    >> Daniil STEPANOV - { daniil.stepanov@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }
╚════════════════════════════════════════════════╝
*/

:root {

	--color-gray: #9D9D9D;

	--color-green: #CCD5AE;
	--color-green2: #E9EDC9;

	--color-white: #FFFFFF;
	--color-light: #FEFAE0;
	--color-light2: #FAEDCD;

	--color-brown: #D4A373;
	--color-dark: #2E1B10;

	--color-black: #000000;
}

.color-text-gray {
	color: var(--color-gray);
}

.color-text-gray {
	color: var(--color-gray);
}

.color-text-green {
	color: var(--color-green);
}

.color-text-green2 {
	color: var(--color-green2);
}

.color-text-white {
	color: var(--color-white);
}

.color-text-light {
	color: var(--color-light);
}

.color-text-light2 {
	color: var(--color-light2);
}

.color-text-brown {
	color: var(--color-brown);
}

.color-text-dark {
	color: var(--color-dark);
}

.color-text-black {
	color: var(--color-black);
}

.color-bg-gray {
	background-color: var(--color-gray);
}

.color-bg-green {
	background-color: var(--color-green);
}

.color-bg-green2 {
	background-color: var(--color-green2);
}

.color-bg-white {
	background-color: var(--color-white);
}

.color-bg-light {
	background-color: var(--color-light);
}

.color-bg-light2 {
	background-color: var(--color-light2);
}

.color-bg-brown {
	background-color: var(--color-brown);
}

.color-bg-dark {
	background-color: var(--color-dark);
}

.color-bg-black {
	background-color: var(--color-black);
}
